body{
            background-color: #f2f2f282;
}
.help-block{
    color: #a94442!important;
}
        div.panel-heading.block-header{
            background-color: #313131db!important;
            height: 51px;
            font-weight: 800;
            font-size: 15px;
            padding-top: 13px!important;
            color: #ffffff!important;
        }
        div.panel-body{
            background-color: #e6e6e6;
        }
        button#add-publications{
            border-radius: 25px!important;
            background-color: #ff8000!important;
            border-color: #ff8000!important;
        }
        
        .btn_remove_employment, btn_remove_internship, .btn_remove_workshop, .btn_remove_internship{
            padding: 2px 6px!important;
            font-size: 10px!important;
            line-height: 1.5!important;
            border-radius: 13px!important;
        }
        
        img#logo{
            display: block;
            margin: 0 auto;
            width: 23%;
        }
        
        #my-nav{
            border-radius: 0;
            background-color: #ffffff!important;
            border-color: #ffffff!important;
        }
        